<a href="https://colab.research.google.com/github/bhaktichowkwale/DataMiningProject/blob/master/DataCleaning_Training_XGB_DT_Ada_ETC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## This notebook contains
##1. Data Cleaning process
##2. Training and Prediction using XGBoost, Decision Tree, AdaBoost, Extra-Trees Classifier

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile

def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [ ]:
with zipfile.ZipFile("nyc-parking-tickets.zip","r") as zip_ref:
     zip_ref.extractall("parkingtickets")

In [ ]:
dataf2014 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')
dataf2014.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2015 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2015.csv')
dataf2015.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2016 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2016.csv')
dataf2016.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1363745270,GGY6450,99,PAS,07/09/2015,46,SDN,HONDA,P,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1363745293,KXD355,SC,PAS,07/09/2015,21,SUBN,CHEVR,P,55730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1363745438,JCK7576,PA,PAS,07/09/2015,21,SDN,ME/BE,P,42730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1363745475,GYK7658,NY,OMS,07/09/2015,21,SUBN,NISSA,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1363745487,GMT8141,NY,PAS,07/09/2015,21,P-U,LINCO,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2017 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2017.csv')
dataf2017.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,BK,NaN,2004,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,WH,NaN,2007,NaN,0,04,47-Double PKG-Midtown,NaN,NaN,NaN
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,WHITE,NaN,2007,NaN,0,31 6,69-Failure to Disp Muni Recpt,NaN,NaN,NaN

In [ ]:
dataf2014DF = pd.DataFrame(dataf2014)
dataf2014DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2015DF = pd.DataFrame(dataf2015)
dataf2015DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2016DF = pd.DataFrame(dataf2016)
dataf2016DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1363745270,GGY6450,99,PAS,07/09/2015,46,SDN,HONDA,P,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1363745293,KXD355,SC,PAS,07/09/2015,21,SUBN,CHEVR,P,55730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1363745438,JCK7576,PA,PAS,07/09/2015,21,SDN,ME/BE,P,42730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1363745475,GYK7658,NY,OMS,07/09/2015,21,SUBN,NISSA,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1363745487,GMT8141,NY,PAS,07/09/2015,21,P-U,LINCO,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
dataf2017DF = pd.DataFrame(dataf2017)
dataf2017DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,BK,NaN,2004,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,WH,NaN,2007,NaN,0,04,47-Double PKG-Midtown,NaN,NaN,NaN
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,WHITE,NaN,2007,NaN,0,31 6,69-Failure to Disp Muni Recpt,NaN,NaN,NaN

In [ ]:
totalDF = dataf2014DF
totalDF.shape

(9100278, 51)

In [ ]:
# concatenating the dataframes dataf2014DF and dataf2015DF
totalDF = pd.concat([totalDF,dataf2015DF], ignore_index=True)
totalDF.shape

(20909511, 51)

In [ ]:
# concatenating the dataframes dataf2014DF and dataf2015DF and dataf2016DF
totalDF = pd.concat([totalDF,dataf2016DF], ignore_index=True)
totalDF.shape

(31536410, 51)

In [ ]:
# we are not concatenating dataf2017DF as it has only 43 features and does not satisfy the fetaure requirements
# totalDF = pd.concat([totalDF,dataf2017DF], ignore_index=True, axis = 0)
# totalDF.shape

In [ ]:
totalDF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# filling the unidentified values with zero to make the data usable and also to maintain consistency across the dataframe.
totalDF = totalDF.fillna(0)
totalDF

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1283294217,T60DAR,NJ,PAS,08/11/2013,14,P-U,DODGE,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1283294229,GCR2838,NY,PAS,08/11/2013,14,VAN,0,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1283983620,XZ764G,NJ,PAS,08/07/2013,24,DELV,FORD,X,63430,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1283983631,GBH9379,NY,PAS,08/07/2013,24,SDN,TOYOT,X,63430,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1283983667,MCL78B,NJ,PAS,07/18/2013,24,SDN,SUBAR,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1283983679,M367CN,NY,PAS,07/18/2013,24,SDN,HYUND,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1283983734,GAR6813,NY,PAS,07/18/2013,24,SDN,TOYOT,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1283983771,GEN8674,NY,PAS,07/31/2013,24,SDN,AUDI,X,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1283983825,GAC2703,NY,PAS,08/12/2013,24,SDN,NISSA,X,23230,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1286036800,40793JY,NY,COM,07/05/2013,14,VAN,CHEVR,P,34190,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1286123550,GAD1485,NY,PAS,08/12/2013,20,SDN,VOLKS,T,28930,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1286246398,GFC5338,NY,PAS,07/26/2013,14,SDN,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1286246416,815M342,MD,PAS,07/30/2013,20,SUBN,SATUR,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1286248000,GJA3452,NY,PAS,07/23/2013,14,SDN,KIA,T,73690,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1286282330,YZY6476,NC,PAS,07/29/2013,20,SDN,NISSA,T,32030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1286282342,WBJ819,LA,PAS,08/07/2013,17,SUBN,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1286289841,GAV9235,NY,PAS,07/20/2013,50,SDN,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1286654920,ZTR66R,NJ,PAS,07/18/2013,50,SDN,N/S,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1286799648,GDE3973,NY,PAS,07/20/2013,40,SDN,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1286807062,P193871,IL,PAS,08/10/2013,40,SDN,SCIO,T,26630,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1286807475,GGL6608,NY,PAS,07/26/2013,40,SDN,NISSA,T,73650,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1286807633,84301JU,NY,COM,07/19/2013,14,P-U,DODGE,X,63030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1286808807,HHG3545,PA,PAS,08/06/2013,20,SDN,TOYOT,T,21130,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1287320491,50097JX,NY,COM,08/07/2013,40,VAN,MERCU,T,23190,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1287320570,GEJ9154,NY,PAS,08/06/2013,51,VAN,TOYOT,X,93230,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31536380,8359500551,ASW2097,NY,PAS,06/04/2016,70,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536381,8359500563,ASW2097,NY,PAS,06/04/2016,71,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536382,8359500575,ASW2097,NY,PAS,06/04/2016,38,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536383,8359500587,ELK9148,NY,PAS,06/04/2016,20,2DSD,VOLKS,T,15420,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536384,8359500599,91003JX,NY,COM,06/07/2016,19,VAN,FORD,T,26130,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536385,8359500617,30939JX,NY,COM,06/07/2016,46,VAN,FRUEH,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536386,8359500629,82934MD,NY,COM,06/07/2016,40,VAN,GMC,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536387,8359500630,82934MD,NY,COM,06/07/2016,71,VAN,GMC,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536388,8359500642,FCW4659,NY,PAS,06/07/2016,38,4DSD,NISSA,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536389,8359500680,T656682C,NY,OMT,06/07/2016,21,4DSD,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536390,8359500691,41812MD,NY,COM,06/07/2016,21,VAN,FORD,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536391,8359500710,754783N,NJ,PAS,06/07/2016,21,SUBN,ROVER,T,22020,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536392,8359500757,CMJ3471,NY,PAS,06/07/2016,21,SUBN,SUBAR,T,62420,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536393,8359500769,93052ME,NY,COM,06/07/2016,21,VAN,FORD,T,35720,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536394,8359500770,ESF2787,NY,PAS,06/07/2016,21,2DSD,PONTI,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536395,8359500800,PVM9011,GA,PAS,06/07/2016,38,4DSD,MITSU,T,50770,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536396,8359500812,ELL2762,NY,PAS,06/07/2016,19,SUBN,SAAB,T,66520,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536397,8359500836,CAPTMACK,NY,SRF,06/07/2016,71,4DSD,ME/BE,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536398,8359500848,DLD5512,NY,PAS,06/07/2016,38,4DSD,TOYOT,T,50770,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536399,8359500861,49619MG,NY,COM,06/08/2016,71,VAN,FORD,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536400,8359500873,27768PC,NY,IRP,06/08/2016,46,TK,HINO,T,41330,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536401,8359500885,23125MG,NY,COM,06/08/2016,37,VAN,CHEVR,T,41330,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536402,8359500897,65919JW,NY,COM,06/08/2016,19,VAN,FRUEH,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536403,8359500903,711AMV,NY,ORG,06/08/2016,37,4DSD,MAZDA,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536404,8359500915,AGU2223,NY,PAS,06/08/2016,38,4DSD,HONDA,T,25590,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536405,8359500927,FFM1969,NY,PAS,06/08/2016,38,SUBN,TOYOT,T,25590,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536406,8359500940,2482082,IN,PAS,06/08/2016,51,VAN,FRUEH,T,73980,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536407,8359500952,65919JW,NY,COM,06/08/2016,52,VAN,FRUEH,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536408,8359500964,68718MG,NY,COM,06/08/2016,82,PICK,DODGE,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31536409,8359500976,FZX4974,NY,PAS,06/08/2016,38,4DSD,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# below function checks for the features like vehicle color, street name, violation time and 
# calculates the probability of a person obtaining the ticket and hence makes predictions on the same.
def probViolation(row):
    probVal = 0
    vehCol = 0
    strName = 0
    locTime = 0
    
    if (row['Vehicle Color'] == "WHITE" or row['Vehicle Color'] =="GY" or row['Vehicle Color'] =="WH" or row['Vehicle Color'] =="BK" or row['Vehicle Color'] =="BLACK" or row['Vehicle Color'] =="GREY"):
        vehCol = 1
    
    if (row['Street Name'] == "Broadway" or row['Street Name'] =="3rd Ave" or row['Street Name'] =="5th Ave"):
        strName = 1
    
    if (row['Violation Time'] == "0836A" or row['Violation Time'] =="1136A" or row['Violation Time'] == "1140A" or row['Violation Time'] =="0936A"):
        locTime = 1
        
    probVal = (vehCol + strName + locTime)/3
    
    if probVal > 0.3:
        probVal = 1
    else:
        probVal = -1
    
    return probVal

In [ ]:
# applying the above function to that complete dataframe
totalDF['y'] = totalDF.apply(probViolation, axis=1)

In [ ]:
totalDF['y'].value_counts()

 1    20887603
-1    10648807
Name: y, dtype: int64

In [ ]:
y = totalDF['y']
y

0           1
1           1
2          -1
3           1
4          -1
5          -1
6          -1
7           1
8           1
9           1
10         -1
11         -1
12         -1
13          1
14         -1
15          1
16         -1
17         -1
18          1
19          1
20         -1
21          1
22         -1
23         -1
24          1
25         -1
26          1
27         -1
28         -1
29          1
           ..
31536380   -1
31536381   -1
31536382   -1
31536383    1
31536384    1
31536385   -1
31536386    1
31536387    1
31536388    1
31536389    1
31536390    1
31536391    1
31536392   -1
31536393    1
31536394   -1
31536395   -1
31536396   -1
31536397    1
31536398    1
31536399    1
31536400    1
31536401    1
31536402    1
31536403    1
31536404   -1
31536405   -1
31536406    1
31536407   -1
31536408    1
31536409    1
Name: y, Length: 31536410, dtype: int64

In [ ]:
# Adding only important features into a dataframe
subDF = pd.DataFrame({'Vehicle Color':totalDF['Vehicle Color'], 'Street Name':totalDF['Street Name'], 'Violation Time':totalDF['Violation Time']})
subDF

         Vehicle Color           Street Name Violation Time
0                   GY              W 175 ST          0752A
1                   WH              W 177 ST          1240P
2                    0              W 163 ST          1243P
3                   WH              W 176 ST          0232P
4                   BR              W 174 ST          1239P
5                   RD              W 175 ST          0617P
6                   GN              W 175 ST          0741P
7                WHITE        N.PORTLAND AVE          0425A
8                WHITE        N.PORTLAND AVE          0437A
9                BLACK  760 BROADWAY ,BROOKL          0839A
10                BLUE  760 BROADWAY BROOKLY          0845A
11                 TAN  760 BROADWAY BROOKLY          0907A
12                GOLD       760 BDWAY BKLYN          0514P
13               WHITE                   BWY          0656P
14               GREEN           W 21 STREET          1145P
15               WHITE           CONGRESS ST          0546P
16                GRAY        PROSPECT PKWAY          1142A
17               GREEN        N/S DEKALB AVE          0724A
18                  WH            ROGERS AVE          0758A
19               WHITE            DECATUR ST          0736A
20                 TAN         N/S LINDEN ST          0847A
21                  GY    N/S WILLOUGHBY AVE          1120A
22                GRAY                     0          1020A
23                  TN        E/S RIVER TER.          0324P
24                  BK          CLARKSON AVE          1018A
25                 WHT           ROEBLING ST          0743A
26                  WH            MYRTLE AVE          0850A
27                  GR             BRIDGE ST          0915A
28                  RD             HUDSON ST          1023A
29                  GY        WILLOUGHBY AVE          1120A
...                ...                   ...            ...
31536380         OTHER              West Ave          0424P
31536381         OTHER              West Ave          0427P
31536382         OTHER              West Ave          0428P
31536383            BK       Bronx River Ave          0502P
31536384            WH            E 149th St          0951A
31536385         BROWN       Westchester Ave          1024A
31536386            WH       Westchester Ave          1029A
31536387            WH       Westchester Ave          1029A
31536388            GY       Westchester Ave          1118A
31536389            GY             Croes Ave          1138A
31536390            WH           Gleason Ave          1140A
31536391         WHITE             Croes Ave          1143A
31536392           RED          Rosedale Ave          1200P
31536393            GY           Gleason Ave          1209P
31536394            RD         Underhill Ave          1213P
31536395         SILVE     Metropolitan Oval          0206P
31536396          BLUE          Starling Ave          0215P
31536397            BK      Metropolitan Ave          0434P
31536398            WH     Metropolitan Oval          0441P
31536399         WHITE       Westchester Ave          1036A
31536400            WH      Hugh J Grant Cir          1121A
31536401            WH      Hugh J Grant Cir          1123A
31536402         BROWN      Metropolitan Ave          1136A
31536403            WH      Metropolitan Ave          1141A
31536404          BLUE              East Ave          1147A
31536405          BLUE              East Ave          1150A
31536406         WHITE               West St          1207P
31536407         BROWN      Metropolitan Ave          1212P
31536408            WH              Wood Ave          1219P
31536409            BK              Wood Ave          1222P

[31536410 rows x 3 columns]

In [ ]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import sklearn.metrics as metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from xgboost import XGBClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier, ExtraTreesClassifier

In [ ]:
le = LabelEncoder()
le.fit(subDF['Vehicle Color'].astype(str))
subDF['Vehicle Color'] = le.transform(subDF['Vehicle Color'].astype(str))

In [ ]:
le.fit(subDF['Street Name'].astype(str))
subDF['Street Name'] = le.transform(subDF['Street Name'].astype(str))

In [ ]:
le.fit(subDF['Violation Time'].astype(str))
subDF['Violation Time'] = le.transform(subDF['Violation Time'].astype(str))

In [ ]:
subDF

          Vehicle Color  Street Name  Violation Time
0                  2260       205656            1048
1                  4454       205695            1710
2                    69       205422            1716
3                  4454       205676             356
4                   875       205635            1706
5                  3495       205656             844
6                  1910       205656            1026
7                  4584       118796             601
8                  4584       118796             626
9                   612        13619            1153
10                  766        13621            1168
11                 4060        13621            1222
12                 1955        13616             706
13                 4584        30422             925
14                 2100       206182            1590
15                 4584        55421             776
16                 2058       151364            1583
17                 2100       128907             984
18                 4454       160996            1060
19                 4584        60011            1011
20                 4060       130492            1172
21                 2260       133400            1532
22                 2058           47            1395
23                 4143        75861             468
24                  423        53550            1389
25                 4623       160958            1029
26                 4454       117666            1180
27                 1986        27964            1242
28                 3495        97748            1401
29                 2260       224149            1532
...                 ...          ...             ...
31536380           3284       225824             599
31536381           3284       225824             606
31536382           3284       225824             608
31536383            423        31231             680
31536384           4454        63991            1325
31536385           1013       225838            1403
31536386           4454       225838            1413
31536387           4454       225838            1413
31536388           2260       225838            1526
31536389           2260        59300            1571
31536390           4454        93717            1579
31536391           4584        59300            1585
31536392           3585       162128            1623
31536393           2260        93717            1641
31536394           3495       201297            1651
31536395           3852       117975             300
31536396            766       196906             320
31536397            423       117974             621
31536398           4454       117975             636
31536399           4584       225838            1432
31536400           4454        98851            1534
31536401           4454        98851            1538
31536402           1013       117974            1567
31536403           4454       117974            1581
31536404            766        83521            1593
31536405            766        83521            1600
31536406           4584       225832            1637
31536407           1013       117974            1648
31536408           4454       225967            1663
31536409            423       225967            1670

[31536410 rows x 3 columns]

In [ ]:
# Split data into train-test
X_train, X_test, y_train, y_test = train_test_split(subDF, 
                                                    y,
                                                    test_size=0.20,
                                                    random_state=42)

## Support Vector Classifier

In [ ]:
classifier =  SVC(C=5, gamma = 0.5)

In [ ]:
classifier.fit(X_train, y_train)
predTest = classifier.predict(X_test)

In [ ]:
print('Accuracy: {:.2%}\n'.format(metrics.accuracy_score(y_test, predTest)))
print('F1 Score: {:.2%}\n'.format(metrics.f1_score(y_test, predTest, average='macro')))
print('Precision: {:.2%}\n'.format(metrics.precision_score(y_test, predTest, average='macro')))
print('Recall: {:.2%}\n'.format(metrics.recall_score(y_test, predTest, average='macro')))

SVC took long to converge may be because of the large dataset. Therefore we will not be using SVC as one of our classifiers.

## XGBoost Classifier

In [ ]:
classifier_xgb = XGBClassifier()

In [ ]:
classifier_xgb.fit(X_train, y_train)
predTest_xgb = classifier_xgb.predict(X_test)

[23:42:06] WARNING: ../src/gbm/gbtree.cc:139: Tree method is automatically selected to be 'approx' for faster speed. To use old behavior (exact greedy algorithm on single machine), set tree_method to 'exact'.

/opt/ohpc/pub/apps/python3/3.6.6/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [ ]:
print('Accuracy: {:.2%}\n'.format(metrics.accuracy_score(y_test, predTest_xgb)))
print('F1 Score: {:.2%}\n'.format(metrics.f1_score(y_test, predTest_xgb, average='macro')))
print('Precision: {:.2%}\n'.format(metrics.precision_score(y_test, predTest_xgb, average='macro')))
print('Recall: {:.2%}\n'.format(metrics.recall_score(y_test, predTest_xgb, average='macro')))

Accuracy: 100.00%

F1 Score: 100.00%

Precision: 100.00%

Recall: 100.00%

## Decision Tree Classifier

In [ ]:
classifier_DTC = DecisionTreeClassifier(random_state =42)

In [ ]:
classifier_DTC.fit(X_train,y_train)
predTest_DTC = classifier_DTC.predict(X_test)

In [ ]:
print('Accuracy: {:.2%}\n'.format(metrics.accuracy_score(y_test, predTest_DTC)))
print('F1 Score: {:.2%}\n'.format(metrics.f1_score(y_test, predTest_DTC, average='macro')))
print('Precision: {:.2%}\n'.format(metrics.precision_score(y_test, predTest_DTC, average='macro')))
print('Recall: {:.2%}\n'.format(metrics.recall_score(y_test, predTest_DTC, average='macro')))

Accuracy: 100.00%

F1 Score: 100.00%

Precision: 100.00%

Recall: 100.00%

## AdaBoost Classifier

In [ ]:
classifier_ABC = AdaBoostClassifier()

In [ ]:
classifier_ABC.fit(X_train,y_train)
predTest_ABC = classifier_ABC.predict(X_test)

In [ ]:
print('Accuracy: {:.2%}\n'.format(metrics.accuracy_score(y_test, predTest_ABC)))
print('F1 Score: {:.2%}\n'.format(metrics.f1_score(y_test, predTest_ABC, average='macro')))
print('Precision: {:.2%}\n'.format(metrics.precision_score(y_test, predTest_ABC, average='macro')))
print('Recall: {:.2%}\n'.format(metrics.recall_score(y_test, predTest_ABC, average='macro')))

Accuracy: 97.64%

F1 Score: 97.39%

Precision: 97.01%

Recall: 97.81%

## ExtraTrees Classifier

In [ ]:
classifier_ETC = ExtraTreesClassifier(n_estimators=100, random_state=42)

In [ ]:
classifier_ETC.fit(X_train,y_train)
predTest_ETC = classifier_ETC.predict(X_test)

In [ ]:
print('Accuracy: {:.2%}\n'.format(metrics.accuracy_score(y_test, predTest_ETC)))
print('F1 Score: {:.2%}\n'.format(metrics.f1_score(y_test, predTest_ETC, average='macro')))
print('Precision: {:.2%}\n'.format(metrics.precision_score(y_test, predTest_ETC, average='macro')))
print('Recall: {:.2%}\n'.format(metrics.recall_score(y_test, predTest_ETC, average='macro')))

Accuracy: 99.90%

F1 Score: 99.88%

Precision: 99.89%

Recall: 99.88%