In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import zipfile

In [6]:
with zipfile.ZipFile("nyc-parking-tickets.zip","r") as zip_ref:
    zip_ref.extractall("parkingtickets")

In [47]:
dataf2014 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv')
dataf2014.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
dataf2015 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2015.csv')
dataf2015.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
dataf2016 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2016.csv')
dataf2016.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1363745270,GGY6450,99,PAS,07/09/2015,46,SDN,HONDA,P,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1363745293,KXD355,SC,PAS,07/09/2015,21,SUBN,CHEVR,P,55730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1363745438,JCK7576,PA,PAS,07/09/2015,21,SDN,ME/BE,P,42730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1363745475,GYK7658,NY,OMS,07/09/2015,21,SUBN,NISSA,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1363745487,GMT8141,NY,PAS,07/09/2015,21,P-U,LINCO,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
dataf2017 = pd.read_csv('parkingtickets/Parking_Violations_Issued_-_Fiscal_Year_2017.csv')
dataf2017.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,BK,NaN,2004,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,WH,NaN,2007,NaN,0,04,47-Double PKG-Midtown,NaN,NaN,NaN
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,WHITE,NaN,2007,NaN,0,31 6,69-Failure to Disp Muni Recpt,NaN,NaN,NaN

In [51]:
dataf2014DF = pd.DataFrame(dataf2014)
dataf2014DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
dataf2015DF = pd.DataFrame(dataf2015)
dataf2015DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,8002531292,EPC5238,NY,PAS,10/01/2014,21,SUBN,CHEVR,T,20390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8015318440,5298MD,NY,COM,03/06/2015,14,VAN,FRUEH,T,27790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7611181981,FYW2775,NY,PAS,07/28/2014,46,SUBN,SUBAR,T,8130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7445908067,GWE1987,NY,PAS,04/13/2015,19,4DSD,LEXUS,T,59990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7037692864,T671196C,NY,PAS,05/19/2015,19,4DSD,CHRYS,T,36090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
dataf2016DF = pd.DataFrame(dataf2016)
dataf2016DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1363745270,GGY6450,99,PAS,07/09/2015,46,SDN,HONDA,P,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1363745293,KXD355,SC,PAS,07/09/2015,21,SUBN,CHEVR,P,55730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1363745438,JCK7576,PA,PAS,07/09/2015,21,SDN,ME/BE,P,42730,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1363745475,GYK7658,NY,OMS,07/09/2015,21,SUBN,NISSA,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1363745487,GMT8141,NY,PAS,07/09/2015,21,P-U,LINCO,P,58130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
dataf2017DF = pd.DataFrame(dataf2017)
dataf2017DF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,5092469481,GZH7067,NY,PAS,07/10/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
1,5092451658,GZH7067,NY,PAS,07/08/2016,7,SUBN,TOYOT,V,0,...,GY,NaN,2001,NaN,0,NaN,FAILURE TO STOP AT RED LIGHT,NaN,NaN,NaN
2,4006265037,FZX9232,NY,PAS,08/23/2016,5,SUBN,FORD,V,0,...,BK,NaN,2004,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
3,8478629828,66623ME,NY,COM,06/14/2017,47,REFG,MITSU,T,10610,...,WH,NaN,2007,NaN,0,04,47-Double PKG-Midtown,NaN,NaN,NaN
4,7868300310,37033JV,NY,COM,11/21/2016,69,DELV,INTER,T,10510,...,WHITE,NaN,2007,NaN,0,31 6,69-Failure to Disp Muni Recpt,NaN,NaN,NaN

In [55]:
totalDF = dataf2014DF
totalDF.shape

(9100278, 51)

In [56]:
totalDF = pd.concat([totalDF,dataf2015DF], ignore_index=True)
totalDF.shape

(20909511, 51)

In [57]:
totalDF = pd.concat([totalDF,dataf2016DF], ignore_index=True)
totalDF.shape

(31536410, 51)

In [58]:
totalDF = pd.concat([totalDF,dataf2016DF], ignore_index=True, axis = 0)
totalDF.shape

(42163309, 51)

In [59]:
totalDF.head()

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
totalDF = totalDF.fillna(0)
totalDF

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Hydrant Violation,Double Parking Violation,Latitude,Longitude,Community Board,Community Council,Census Tract,BIN,BBL,NTA
0,1283294138,GBB9093,NY,PAS,08/04/2013,46,SUBN,AUDI,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1283294151,62416MB,NY,COM,08/04/2013,46,VAN,FORD,P,37290,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1283294163,78755JZ,NY,COM,08/05/2013,46,P-U,CHEVR,P,37030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1283294175,63009MA,NY,COM,08/05/2013,46,VAN,FORD,P,37270,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1283294187,91648MC,NY,COM,08/08/2013,41,TRLR,GMC,P,37240,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1283294217,T60DAR,NJ,PAS,08/11/2013,14,P-U,DODGE,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,1283294229,GCR2838,NY,PAS,08/11/2013,14,VAN,0,P,37250,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,1283983620,XZ764G,NJ,PAS,08/07/2013,24,DELV,FORD,X,63430,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1283983631,GBH9379,NY,PAS,08/07/2013,24,SDN,TOYOT,X,63430,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1283983667,MCL78B,NJ,PAS,07/18/2013,24,SDN,SUBAR,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,1283983679,M367CN,NY,PAS,07/18/2013,24,SDN,HYUND,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,1283983734,GAR6813,NY,PAS,07/18/2013,24,SDN,TOYOT,H,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,1283983771,GEN8674,NY,PAS,07/31/2013,24,SDN,AUDI,X,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,1283983825,GAC2703,NY,PAS,08/12/2013,24,SDN,NISSA,X,23230,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,1286036800,40793JY,NY,COM,07/05/2013,14,VAN,CHEVR,P,34190,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,1286123550,GAD1485,NY,PAS,08/12/2013,20,SDN,VOLKS,T,28930,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1286246398,GFC5338,NY,PAS,07/26/2013,14,SDN,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,1286246416,815M342,MD,PAS,07/30/2013,20,SUBN,SATUR,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1286248000,GJA3452,NY,PAS,07/23/2013,14,SDN,KIA,T,73690,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1286282330,YZY6476,NC,PAS,07/29/2013,20,SDN,NISSA,T,32030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,1286282342,WBJ819,LA,PAS,08/07/2013,17,SUBN,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,1286289841,GAV9235,NY,PAS,07/20/2013,50,SDN,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,1286654920,ZTR66R,NJ,PAS,07/18/2013,50,SDN,N/S,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,1286799648,GDE3973,NY,PAS,07/20/2013,40,SDN,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,1286807062,P193871,IL,PAS,08/10/2013,40,SDN,SCIO,T,26630,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,1286807475,GGL6608,NY,PAS,07/26/2013,40,SDN,NISSA,T,73650,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,1286807633,84301JU,NY,COM,07/19/2013,14,P-U,DODGE,X,63030,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,1286808807,HHG3545,PA,PAS,08/06/2013,20,SDN,TOYOT,T,21130,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,1287320491,50097JX,NY,COM,08/07/2013,40,VAN,MERCU,T,23190,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,1287320570,GEJ9154,NY,PAS,08/06/2013,51,VAN,TOYOT,X,93230,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42163279,8359500551,ASW2097,NY,PAS,06/04/2016,70,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163280,8359500563,ASW2097,NY,PAS,06/04/2016,71,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163281,8359500575,ASW2097,NY,PAS,06/04/2016,38,4DSD,LEXUS,T,73970,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163282,8359500587,ELK9148,NY,PAS,06/04/2016,20,2DSD,VOLKS,T,15420,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163283,8359500599,91003JX,NY,COM,06/07/2016,19,VAN,FORD,T,26130,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163284,8359500617,30939JX,NY,COM,06/07/2016,46,VAN,FRUEH,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163285,8359500629,82934MD,NY,COM,06/07/2016,40,VAN,GMC,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163286,8359500630,82934MD,NY,COM,06/07/2016,71,VAN,GMC,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163287,8359500642,FCW4659,NY,PAS,06/07/2016,38,4DSD,NISSA,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163288,8359500680,T656682C,NY,OMT,06/07/2016,21,4DSD,TOYOT,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163289,8359500691,41812MD,NY,COM,06/07/2016,21,VAN,FORD,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163290,8359500710,754783N,NJ,PAS,06/07/2016,21,SUBN,ROVER,T,22020,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163291,8359500757,CMJ3471,NY,PAS,06/07/2016,21,SUBN,SUBAR,T,62420,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163292,8359500769,93052ME,NY,COM,06/07/2016,21,VAN,FORD,T,35720,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163293,8359500770,ESF2787,NY,PAS,06/07/2016,21,2DSD,PONTI,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163294,8359500800,PVM9011,GA,PAS,06/07/2016,38,4DSD,MITSU,T,50770,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163295,8359500812,ELL2762,NY,PAS,06/07/2016,19,SUBN,SAAB,T,66520,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163296,8359500836,CAPTMACK,NY,SRF,06/07/2016,71,4DSD,ME/BE,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163297,8359500848,DLD5512,NY,PAS,06/07/2016,38,4DSD,TOYOT,T,50770,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163298,8359500861,49619MG,NY,COM,06/08/2016,71,VAN,FORD,T,76950,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163299,8359500873,27768PC,NY,IRP,06/08/2016,46,TK,HINO,T,41330,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163300,8359500885,23125MG,NY,COM,06/08/2016,37,VAN,CHEVR,T,41330,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163301,8359500897,65919JW,NY,COM,06/08/2016,19,VAN,FRUEH,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163302,8359500903,711AMV,NY,ORG,06/08/2016,37,4DSD,MAZDA,T,50750,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163303,8359500915,AGU2223,NY,PAS,06/08/2016,38,4DSD,HONDA,T,25590,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163304,8359500927,FFM1969,NY,PAS,06/08/2016,38,SUBN,TOYOT,T,25590,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163305,8359500940,2482082,IN,PAS,06/08/2016,51,VAN,FRUEH,T,73980,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163306,8359500952,65919JW,NY,COM,06/08/2016,52,VAN,FRUEH,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163307,8359500964,68718MG,NY,COM,06/08/2016,82,PICK,DODGE,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42163308,8359500976,FZX4974,NY,PAS,06/08/2016,38,4DSD,HONDA,T,0,...,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0